<template>
    <div class="row">
        <div class="col-8 offset-2">
            <div v-if="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
            <div v-if="successMsg" class="alert alert-success">{{ successMsg }}</div>
            <form id="book-form" method="post" @submit="submitForm($event)">
                <file-upload
                    @filesChange="assignList($event)"
                    :upload-text="__('custom.form.labels.upload-text')"
                    :label="__('custom.form.labels.covers')"
                    v-bind:existingFiles="book.covers"
                    @deleteFile = deleteCover($event)
                >
                </file-upload>
                <text-field id="title" :label="__('custom.form.labels.title')" :value="book.title"></text-field>
                <number-field id="quantity" :label="__('custom.form.labels.quantity')" :value="book.quantity"></number-field>
                <autocomplete
                    v-bind:columns="['name', 'surname']"
                    id="author"
                    :label="__('custom.form.labels.label_author')"
                    url="/management/author/list-by-name/"
                    :author="getAuthorName()"
                    :authorId="book.author_id"
                ></autocomplete>
                <button type="submit" class="btn btn-primary">{{ __('custom.form.labels.submit') }}</button>
            </form>
        </div>
        <loading-modal v-if="show" id="book-form-submit"></loading-modal>
    </div>

</template>

<script>
import FileUpload from "../../formfields/FileUpload";
import FormField from "../../FormField";
import TextField from "../../formfields/TextField";
import NumberField from "../../formfields/NumberField";
import AutocompleteField from "../../formfields/AutocompleteField";
import axios from "axios";
import LoadingModal from "../LoadingModal";
import ConfirmationModal from "../ConfirmationModal";

export default {
    name: "BookForm",
    props: {
        'book': {
            default: function() {
                return {
                    title: '',
                    quantity: 0,
                    author: {
                        name: '',
                        surname: ''
                    },
                    author_id: '',
                    covers: []
                }
            }
        }
    },
    data: function() {
        return {
            covers: [],
            show: false,
            errorMsg: null,
            successMsg: null,
            confirmShow: false
        }
    },
    components: {
        'file-upload': FileUpload,
        'form-field': FormField,
        'text-field': TextField,
        'number-field': NumberField,
        'autocomplete': AutocompleteField,
        'loading-modal': LoadingModal,
    },
    methods: {
        getAuthorName: function() {
            return this.book.author === null ? '' : this.book.author.name + ' ' + this.book.author.surname
        },

        submitForm: function(event) {
            event.preventDefault();
            $('.is-invalid').removeClass('is-invalid');
            $('.validation-error').remove();
            this.successMsg = null;
            this.errorMsg = null;
            let formData = new FormData(document.getElementById('book-form'))
            this.covers.forEach((f) => {
                formData.append('files[]', f);
            });

            this.show = true;

            let ajaxUrl = window.location.pathname;
            if ('id' in this.book) {
                formData.append('id', this.book.id);
                ajaxUrl = ajaxUrl.split('/');
                ajaxUrl.pop();
                ajaxUrl = ajaxUrl.join('/')
            }

            axios({method : 'POST',
                url : ajaxUrl,
                data: formData,
                headers: {
                    'cache': false,
                    'Content-Type' : false,
                    'processData': false,
                }
            }).then(response => {
                this.successMsg = response.data.message;
            }).catch((err) => {
                if (err.response.status !== 500) {
                    let errors = err.response.data.errors;
                    for (let key in errors) {
                        let formField = $('#' + key);
                        formField.addClass('is-invalid');
                        for (let error in errors[key]) {
                            formField.after('<div class="validation-error text-danger">' + errors[key][error] + '</div>')
                        }
                    }
                } else {
                    this.errorMsg = err.response.data.message;
                }
            }).finally(() => {
                this.show = false;
            })
        },

        assignList: function(event) {
            this.covers = event.files;
        },

        deleteCover: function(event) {
            console.log(this.book.id);
            axios.post('/management/book/' + this.book.id + '/delete-cover/' + event.id)
        }
    }
}
</script>

<style scoped>

</style>
