@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.page-logo-header {
    background-color: black;
    .logo {
        font-family: neon;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        color: #fee;
        text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    }
    .subheader {
        color: white;
        padding-top: 10px;
    }
}

.box-message {
    border: 1px solid black;
    padding: 25px 15px 9px 15px;
    border-left-width: 10px;
    border-radius: 5px;
}

.box-message.info {
    border-color: #857b26;
}

.big-btn{
    width: 12em;
    height: 13em;
    border: 2px solid #3490dc;
    margin: .5em;
    border-radius: 5px;
    .big-btn-text {
        padding-top: 1.5em;
        padding-bottom: .9em;
        font-size: 2em
    }
    .sign {
        font-size: 3em;
        color:white;
        background-color: #3490dc;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: #385d7a;
        }
    }
}

.alert {
    border-radius: 5px;
    border-width: 2px
}

.alert-warning {
    border-color: #857b26;
}

.alert-dander {
    border-color: #761b18;
}

.no-books {
    padding-top: 50px;
}

.big-btn-wrapper {
    display: inline-block;
}

.big-button-container {
    margin-top: 40px;
}

.hidden {
    display: none;
}

.dropzone {
    background-color: white;
    border: 2px grey dashed;
    min-height: 7em;
    margin-bottom: 15px;
    overflow-x: auto;
    padding-left: 15px;
    .file-preview {
        position: relative;
        margin: 20px 10px 20px 10px;
        width: 150px;
        min-height: 150px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: .7em;
        display: inline-block;
        div:first-child {
            background-size: cover;
            height: 150px;
            width: 146px
        }
        .remove-file-wrapper {
            width: 146px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: black;
            position: absolute;
            bottom: 0;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
            .remove-file {
                margin: auto;
                color: white;
                border-radius: 50%;
                border: 3px solid white;
                width: 40px;
                height: 40px;
                cursor: pointer;
                font-size: 2em;
            }
        }
    }
}

form {
    margin-top: 10px;
    margin-bottom: 35px;
}

.modal-active{
    display: block;
}

.spinner-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    .spinner-border {
        margin: auto;
    }
}

.list-inline {
    margin-bottom: 0;
    .list-inline-item {
        margin: 0
    }
    .action-button {
        height: 25px;
        border: 2px solid grey;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
        div {
            position: relative;
            top: -2px
        }
    }
    .action-button:not(.no-icon) {
        display: inline-block;
        width: 25px;
        border-radius: 50%;
    }
    .action-button.no-icon {
        border-radius: 15px;
        padding: 0 7px 0 7px;

    }
}

.overview-header {
    background-color: #385d7a;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: white;
    padding: 10px 0 10px 0;
    border-radius: 5px;
}

.overview-row {
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #385d7a;
    .action-button {
        min-width: 30px!important;;
        height: 30px!important;;

        div {
            position: relative!important;;
            top: -2px!important;
        }
    }
}

.overview-wrapper {
    margin-bottom: 2em;
}

.overview-body {
    max-height: 30em;
    overflow: auto;
    border-bottom: 8px solid #385d7a;
    border-radius: 5px;
}

.modal-content {
    font-size: 1.1em;
}

.info.alert-info {
    padding: 20px 10px 20px 10px;
}

.filter-wrapper {
    padding: 20px 0 20px 0;
    input {
        padding: 7px 12px 7px 12px;
        width: 100%
    }
    label {
        padding-top: 5px;
    }
}

.table-wrapper {
    max-height: 25em;
    overflow: auto;
}

