<template>
    <div class="form-group">
        <label :for="id">{{ label }}</label>
        <input
            @keyup="fetchData()"
            v-model="searchText"
            type="text"
            class="form-control"
            :name="id"
            :id="id"
            :aria-describedby="id + 'Help'"
            autocomplete="off"
        />
        <div class="hidden">
            <input
                type="text"
                class="form-control"
                :name="id + '_id'"
                :id="id+ '_id'"
                :value="idValue"
            />
        </div>
        <div v-if="listData.length">
            <ul class="list-group">
                <li class="list-group-item"
                    @click="populate($event)"
                    v-for="data in listData"
                    :data-id="data.id">{{ text(data) }}</li>
            </ul>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "AutocompleteField",
    props: {
        'id': String,
        'label': String,
        'url': {
            String,
            required: true
        },
        'columns': {
            Array,
            required: true
        },
        'concatChar': {
            String,
            default: ' '
        },
        'author': {
            String,
            default:''
        },
        'authorId': {
            String,
            default: ''
        }
    },
    data: function() {
        return {
            searchText: this.author,
            listData: [],
            liValue: [],
            idValue: this.authorId
        }
    },
    methods: {
        populate: function (event) {
            let entity = $(event.target),
            entity_id = entity.data('id');
            if (typeof entity_id !== 'undefined') {
                this.searchText = entity.text();
                this.idValue = entity_id;
            }
            this.listData = [];
        },

        fetchData: function() {
            this.listData = [];
            axios.get(this.trimUrl(this._props.url) + this.searchText)
                .then(response => {
                    this.listData = response.data
                    if (this.listData.length === 0) {
                        this.listData = [{'stepValue': this.__('custom.autocomplete.no-suggestions')}];
                    }
                    this.$emit('autoCompleteDone', {'response': response})
                })
                .catch(err => {
                    console.log(err);
                    this.$emit('autoCompleteError', {'err': err})
                })
        },

        trimUrl: function(url) {
            while (~'/'.indexOf(url[0])) {
                url = url.slice(1);
            }
            while (~'/'.indexOf(url[url.length - 1])) {
                url = url.slice(0, -1);
            }
            return '/' + url + '/';
        },

        text: function(data) {
            if ("stepValue" in data) {
                return data.stepValue;
            }
            if (this._props['columns'].length === 1) {
                let column = this._props['columns'].shift();
                return data[column]
            }
            let array = []
            this._props['columns'].forEach(function (i) {
                array.push(data[i]);
            })

            return array.join(this.concatChar);
        }
    }
}
</script>

<style scoped>

</style>
