<template>
    <div class="form-group">
        <label>{{ label }}</label>
        <div class="dropzone row align-items-center" @drop.prevent="add" @dragover.prevent>

            <div v-if="files.length" class="uploaded-files">
                <div class="file-preview" v-for="file in files" :data-filename="file.name" v-bind:key="file.name">
                    <div v-if="isSupportedMimeType(file.type)">

                    </div>
                    <div v-else style="word-break: break-all;">{{ file.name }} ({{ file.size }} kb)</div>
                    <div class="remove-file-wrapper text-center">
                        <div class="remove-file" @click="remove(file)" title="Remove"><strong>x</strong></div>
                    </div>
                </div>
            </div>
            <div class="text-center col-12 text" v-else>{{ uploadText }}</div>
        </div>
    </div>
</template>

<script>

export default {
    name: "FileUpload",
    props: {
        'uploadText': String,
        'label': String,
        'fileTypes': {
            Array,
            default: function() {
                return [];
            }
        },
        'existingFiles': {
            Array,
            default: function() {
                return []
            }
        }
    },
    data: function () {
        return {
            files: this.existingFiles,
            previewImage: '',
            previewMimeTypes: [
                'image/jpeg', 'image/png', 'image/gif'
            ]
        }
    },
    methods: {
        add: function (event) {
            let droppedFiles = event.dataTransfer.files;
            if(!droppedFiles) {
                return;
            }
            ([...droppedFiles]).forEach(f => {
                let reader = new FileReader();
                reader.onload = (e) => {
                    let previewedImg = $('div.file-preview[data-filename="' + f.name + '"] div:first');
                    previewedImg.css('background-image', 'url(' + e.target.result + ')');
                }
                reader.readAsDataURL(f)
                this.files.push(f);
                this.$emit('filesChange', {'files': this.files})
            });
        },

        remove: function (file) {
            this.files = this.files.filter(f => {
                return f !== file;
            });
            this.$emit('filesChange', {'files': this.files})
            if ('id' in file) {
                this.$emit('deleteFile', {'id': file.id})
            }
        },

        loadExistingCovers: function() {
            if (this.existingFiles.length > 0) {
                this.existingFiles.forEach(function(f) {
                    let previewMimeTypes = [
                        'image/jpeg', 'image/png', 'image/gif'
                    ]
                    if (previewMimeTypes.includes(f.type)) {
                        let previewedImg = $('div.file-preview[data-filename="' + f.name + '"] div:first');
                        previewedImg.css('background-image', 'url(' + f.url + ')');
                    }
                })
            }
        },

        isSupportedMimeType: function(mimeType) {
            return this.previewMimeTypes.includes(mimeType);
        }
    },
    mounted() {
        this.loadExistingCovers()
    }
}
</script>

<style scoped>

</style>
