<template>
    <form-field :id="id" :label="label" type="number" :value="value"></form-field>
</template>

<script>
import FormField from "../FormField";
export default {
    name: "NumberField",
    components: {
        'form-field': FormField
    },
    props: ['id', 'label', 'value']
}
</script>

<style scoped>

</style>
