<template>
    <div class="row">
        <div class="col-8 offset-2">
            <div v-if="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
            <div v-if="successMsg" class="alert alert-success">{{ successMsg }}</div>
            <form id="author-form" method="post" @submit="submitForm($event)">
                <text-field id="name" :label="__('custom.form.labels.name')" :value="author.name"></text-field>
                <text-field id="surname" :label="__('custom.form.labels.surname')" :value="author.surname"></text-field>
                <button type="submit" class="btn btn-primary">{{ __('custom.form.labels.submit') }}</button>
            </form>
        </div>
        <loading-modal v-if="show" id="book-form-submit"></loading-modal>
    </div>
</template>

<script>
import TextField from "../../formfields/TextField";
import LoadingModal from "../LoadingModal";
import axios from "axios";

export default {
    name: "Author",
    props: {
        'author': {
            default: function() {
                return {
                    name: '',
                    surname: '',
                }
            }
        },
    },
    data: function() {
        return {
            show: false,
            errorMsg: null,
            successMsg: null
        }
    },
    components: {
        'text-field': TextField,
        'loading-modal': LoadingModal
    },
    methods: {
        submitForm: function (event) {
            event.preventDefault();
            $('.is-invalid').removeClass('is-invalid');
            $('.validation-error').remove();
            this.successMsg = null;
            this.errorMsg = null;
            let formData = new FormData(document.getElementById('author-form'))
            let ajaxUrl = window.location.pathname;
            this.show = true;
            if ('id' in this.author) {
                formData.append('id', this.author.id);
                ajaxUrl = ajaxUrl.split('/');
                ajaxUrl.pop();
                ajaxUrl = ajaxUrl.join('/')
            }
            axios({
                method: 'POST',
                url: ajaxUrl,
                data: formData,
                headers: {
                    'cache': false,
                    'Content-Type': false,
                    'processData': false,
                }
            }).then(response => {
                this.successMsg = response.data.message;
            }).catch((err) => {
                if (err.response.status !== 500) {
                    let errors = err.response.data.errors;
                    for (let key in errors) {
                        let formField = $('#' + key);
                        formField.addClass('is-invalid');
                        for (let error in errors[key]) {
                            formField.after('<div class="validation-error text-danger">' + errors[key][error] + '</div>')
                        }
                    }
                } else {
                    this.errorMsg = err.response.data.message;
                }
            }).finally(() => {
                this.show = false;
            })
        },
    }
}
</script>

<style scoped>

</style>
