<template>
    <div class="big-btn-wrapper">
        <div class="big-btn">
            <div class="big-btn-text text-center">{{ btnText }}</div>
            <div class="sign text-center" @click="bigBtnClick($event)">+</div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['btnText'],
        methods: {
            bigBtnClick: function (event) {
                this.$emit('bigclick', {action: 'add'})
            }
        }
    }
</script>
