<template>
    <li v-if="href !== null" class="breadcrumb-item">
        <a :href="href">{{ label }}</a>
    </li>
    <li v-else class="breadcrumb-item active" aria-current="page">
        {{ label }}
    </li>
</template>

<script>
export default {
    name: "Breadcrumb",
    props: {
        'label': String,
        'href': {
            Type: String,
            default: null
        }
    }
}
</script>

<style scoped>

</style>
