<template>
    <div class="container filter-wrapper">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-2 text-right"><label for="filter-bar">{{ __('custom.filter-bar.filter-label') }}</label></div>
                    <div class="col-10"><input type="text" id="filter-bar" v-model="filterText" @keyup="filter()"/></div>
                </div>
            </div>
            <div class="col-2">
                <select class="form-control" @change="setColumn($event)">
                    <option v-for="column in possibleColumns" :value="column" v-bind:key="column">{{ __('custom.form.labels.' + column)}}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "FilterBar",
    props: {
        'dataArrayToFilter': {
            Array,
            required: true
        },
        'possibleColumns': {
            Array,
            required: true
        },
        translations: {
            default: function() {
                return {}
            }
        }
    },
    data: function() {
        return {
            column: this.possibleColumns[0],
            filterText: ''
        }
    },
    methods: {
        filter: function() {
            let filtered = this.dataArrayToFilter;
            filtered = filtered.filter((record) => {
                let value = '';
                if (this.column.indexOf('.') >=0) {
                    let colArray = this.column.split('.');
                    value = record;
                    colArray.forEach(function(f) {
                        value = value[f];
                    })
                } else {
                    value = record[this.column];
                }
                return this.translateValue(value, this.column).indexOf(this.filterText) >= 0;
            })
            this.$emit('filtered', {data: filtered, filter: this.filterText})
        },

        setColumn: function(event) {
            this.column = event.target.value
        },

        translateValue: function(value, column) {

            if (column in this.translations) {
                return this.__(this.translations[column][value.toString()]);
            }
            return value.toString();
        }
    }
}
</script>

<style scoped>

</style>
