<template>
    <div class="form-group">
        <label :for="id">{{ label }}</label>
        <input
            :type="type"
            :name="id"
            class="form-control"
            :id="id"
            :aria-describedby="id + 'Help'"
            :value="value"
        />
    </div>
</template>

<script>
export default {
    name: "FormField",
    props: {
        'id': String,
        'label': String,
        'type': String,
        'value': {
            String,
            default: ''
        }
    }
}
</script>

<style scoped>

</style>
