<template>
    <div class="warning-wrapper alert-wrapper">
        <div class="alert alert-warning alert-dismissible fade show">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="border-color: #857b26;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    props: ['message']
}
</script>
