<template>
    <div class="container-fluid overview-wrapper">
        <filter-bar
            :data-array-to-filter="books"
            :possible-columns="['title', 'available_quantity', 'status', 'author.full_name']"
            @filtered="filter($event)"
            :translations="{ 'status': {
                'true': 'custom.status.available',
                'false': 'custom.status.borrowed'
            }}"
        ></filter-bar>
        <div class="row overview-header">
            <div class="col">{{ __('custom.list.table-headers.title') }}</div>
            <div class="col-1">{{ __('custom.list.table-headers.quantity') }}</div>
            <div class="col">{{ __('custom.list.table-headers.status') }}</div>
            <div class="col">{{ __('custom.list.table-headers.author') }}</div>
            <div class="col">{{ __('custom.list.table-headers.created') }}</div>
            <div class="col-3">{{ __('custom.list.table-headers.options') }}</div>
        </div>
        <div class="overview-body container-fluid">
            <div class="row overview-row" v-for="book in currentData()" v-bind:key="book.id">
                <div class="col">{{ book.title }}</div>
                <div class="col-1">{{ book.available_quantity }}</div>
                <div class="col">{{ returnStatus(book.status) }}</div>
                <div class="col" v-if="book.author !== null">{{ book.author.full_name }}</div>
                <div class="col" v-else></div>
                <div class="col">{{ book.created_at | formatDate }}</div>
                <div class="col-3">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item" @click="borrow(book)">
                            <div class="action-button no-icon">
                                <div>{{ __('custom.list.action-buttons.borrow') }}</div>
                            </div>
                        </li>
                        <li class="list-inline-item" @click="returnBook(book)">
                            <div class="action-button no-icon">
                                <div>{{ __('custom.list.action-buttons.return') }}</div>
                            </div>
                        </li>
                        <li class="list-inline-item" @click="showBorrowings(book)">
                            <div class="action-button" :title="__('custom.list.action-buttons.show-borrowed')">
                                <div>&dHar;</div>
                            </div>
                        </li>
                        <li class="list-inline-item" @click="updateBook(book)">
                            <div class="action-button" :title="__('custom.list.action-buttons.edit-details')">
                                <div>&telrec;</div>
                            </div>
                        </li>
                        <li class="list-inline-item" @click="removeBook(book)">
                            <div class="action-button" :title="__('custom.list.action-buttons.delete')">
                                <div>x</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <confirmation-modal
            v-if="confirmModal"
            :modal-body="__('custom.confirm.book.remove')"
            @confirmed="removeConfirmed()"
            @declined="removeCanceled()"
        ></confirmation-modal>
        <loading-modal v-if="show" id="book-borrow"></loading-modal>
        <simple-message-modal
            v-if="showInfo"
            :show-me="showInfo"
            :success-msg="successMsg"
            :errMsg="errMsg">
        </simple-message-modal>
        <borrowings-modal v-if="book" :overview="book" @acknowledged="closeBorrowings()"></borrowings-modal>
    </div>
</template>

<script>
import axios from "axios";
import LoadingModal from "./LoadingModal";
import ConfirmationModal from "./ConfirmationModal";
import SimpleMessageModal from "./SimpleMessageModal";
import BorrowingsModal from "./BorrowingsModal";
import FilterBar from "../FilterBar";

export default {
    name: "BookOverview",
    components: {
        'loading-modal': LoadingModal,
        'confirmation-modal': ConfirmationModal,
        'simple-message-modal': SimpleMessageModal,
        'borrowings-modal': BorrowingsModal,
        'filter-bar': FilterBar
    },
    data: function () {
         return {
             confirmModal: false,
             bookId: null,
             show: false,
             showInfo: false,
             successMsg: false,
             errMsg: false,
             book: null,
             filteredData: [],
             filterValue: '',
         }
    },
    props: {
        'books': {
            Array,
            required: true
        }
    },
    methods: {
        returnStatus: function(available) {
            return available ? this.__('custom.status.available') : this.__('custom.status.borrowed')
        },

        returnBook: function(book) {
            this.show = true;
            this.errMsg = false
            this.successMsg = false;
            axios.post('/management/book/return/' + book.id).then(response => {
                this.successMsg = response.data.message;
                book.available_quantity ++;
                if (book.available_quantity > 0) {
                    book.status = true;
                }
            }).catch(err => {
                this.errMsg = err.response.data.message;
            }).finally(() => {
                console.log(this.errMsg);
                this.showInfo = true;
                this.show = false
            });
        },

        borrow: function(book) {
            this.show = true;
            this.errMsg = false
            this.successMsg = false;
            axios.post('/management/book/borrow/' + book.id).then(response => {
                this.successMsg = response.data.message
                this.showInfo = true;
                book.available_quantity --;
                if (book.available_quantity === 0) {
                    book.status = false;
                }
            }).catch(err => {
                this.successMsg = false;
                this.errMsg = err.response.data.message;
                this.showInfo = true;
            })
            .finally(() => {
                this.show = false;
            })
        },

        showBorrowings: function(book) {
            this.showInfo = false;
            this.errMsg = false
            this.successMsg = false;
            this.book = book;
        },

        updateBook: function(book) {
            window.location.href = '/management/book/update/' + book.id
        },

        removeBook: function(book) {
            this.confirmModal = true;
            this.bookId = book.id
        },

        removeConfirmed: function() {
            axios.delete('/management/book/delete/' + this.bookId).then(response => {
                console.log(response);
            }).catch(err => {
                console.log(err)
            }).finally(() => {
                this.$emit('removeBook', {'id': this.bookId})
                this.bookId = null;
                this.confirmModal = false;
            })
        },

        removeCanceled: function () {
            this.bookId = null;
            this.confirmModal = false;
        },

        closeBorrowings: function() {
            this.book = null;
        },

        filter: function(event) {
            this.showInfo = false;
            this.filteredData = event.data;
            this.filterValue = event.filter
            if (this.filteredData.length === 0) {
                this.$emit('nodata', {data: []});
            }
        },

        currentData: function() {
            return this.filterValue.length > 0 ? this.filteredData : this.books
        },
    }
}
</script>

<style scoped>

</style>
