<template>
    <div>
        <div role="dialog" class="modal modal-active" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="table-wrapper">
                            <table class="table table-bordered" v-if="borrowedData.length">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>{{ __('custom.list.table-headers.borrowed')}}</th>
                                        <th>{{ __('custom.list.table-headers.returned')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="record in borrowedData">
                                        <td>{{record.borrowed_at | formatDate}}</td>
                                        <td>{{record.returned_at | formatDate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-primary" @click="acknowledged()">{{ __('custom.confirm.ok') }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show"></div>
    </div>
</template>

<script>
export default {
    name: "BorrowingsModal",
    props: {
        overview: {
            required: true
        }
    },
    data: function() {
        return {
            borrowedData: []
        }
    },
    methods: {
        fetchBorrowings: function() {
            axios.get('/management/book/borrowings/' + this.overview.id)
                .then(response => {
                    this.borrowedData = response.data
                }).catch(err => {
                    console.log(err)
                })
        },

        acknowledged: function() {
            this.$emit('acknowledged');
        }
    },
    mounted() {
        this.fetchBorrowings()
    }
}
</script>

<style scoped>

</style>
