<template>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <breadcrumb v-for="item in items"
                v-bind:label="__('custom.breadcrumbs.' + item.value)"
                v-bind:href="item.href"
                v-bind:key="item.href">
            </breadcrumb>
        </ol>
    </nav>
</template>

<script>
import Breadcrumb from "../Breadcrumb";

export default {
    name: "Breadcrumbs.vue",
    props: {
        'skipParts': {
            Array,
            default: function() {
                return []
            }
        }
    },
    components: {
        Breadcrumb,
        'bread-crumb': Breadcrumb
    },
    data: function() {
        return {
            items: this.parseUrl(),
        }
    },
    methods: {
        parseUrl: function() {
            let urlParts = window.location.pathname.replace('/', '').replace(/(^|\/|-)(\S)/g, s => s.toUpperCase()).split('/');
            let breadcrumbData = {}
            this.stripPartsToSkip(urlParts);
            urlParts.forEach(function(value, key) {
                if (key < (urlParts.length - 1)) {
                    let previous = '';
                    if (typeof breadcrumbData[key - 1] !== 'undefined') {
                        previous = breadcrumbData[key - 1].href
                    }
                    breadcrumbData[key] = {
                        href: previous + '/' + value.toLowerCase(),
                        value: value
                    }
                } else {
                    breadcrumbData[key] = {
                        value: value
                    }
                }
            })
            return breadcrumbData;
        },

        stripPartsToSkip: function(breadcrumbParts) {
            this.skipParts.forEach(function (i) {
                if (!isNaN(i)) {
                    i--;
                }
                if (i === 'first') {
                    i = 0;
                }
                if (i === 'last') {
                    i = breadcrumbParts.length - 1
                }
                breadcrumbParts.splice(i, 1);
            })
        }
    }
}
</script>

<style scoped>

</style>
