<template>
    <div>
        <div role="dialog" class="modal modal-active" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header"><h4 class="modal-title">{{ __('custom.confirm.header') }}</h4></div>
                    <div class="modal-content"><div class="info alert-info">{{ modalBody }}</div></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="confirmed">{{ __('custom.confirm.yes') }}</button>
                        <button type="button" class="btn btn-secondary" @click="storno">{{ __('custom.confirm.storno') }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show"></div>
    </div>
</template>

<script>
export default {
    name: "ConfirmationModal",
    props: ['modalBody'],
    methods: {
        confirmed: function () {
            this.$emit('confirmed')
        },
        storno: function () {
            this.$emit('declined');
        }
    }
}
</script>

<style scoped>

</style>
