<template>
    <div class="container">
        <filter-bar
            :data-array-to-filter="list"
            :possible-columns="listColumns"
            :translations="translations"
            @filtered="filter($event)"
        ></filter-bar>
        <table class="table table-bordered" v-if="currentData().length">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th v-for="column in listColumns">{{ __('custom.list.table-headers.' + column) }}</th>
                    <th scope="col">{{ __('custom.list.table-headers.created') }}</th>
                    <th scope="col">{{ __('custom.list.table-headers.updated') }}</th>
                    <th scope="col">{{ __('custom.list.table-headers.options') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(record, index) in currentData()" v-bind:key="record.id">
                    <th scope="row">{{ index + 1 }}</th>
                    <td v-for="column in listColumns">{{ translateValue(record[column], column) }}</td>
                    <td>{{ record.created_at | formatDate }}</td>
                    <td>{{ record.updated_at | formatDate }}</td>
                    <td>
                        <ul class="list-inline text-center">
                            <li class="list-inline-item" @click="borrow(record)" v-if="additionalActions.includes('borrow')">
                                <div class="action-button no-icon">
                                    <div>{{ __('custom.list.action-buttons.borrow') }}</div>
                                </div>
                            </li>
                            <li class="list-inline-item" @click="returnBook(record)" v-if="additionalActions.includes('return')">
                                <div class="action-button no-icon">
                                    <div>{{ __('custom.list.action-buttons.return') }}</div>
                                </div>
                            </li>
                            <li class="list-inline-item" @click="updateRecord(record)">
                                <div class="action-button" v-tooltip:top="__('custom.list.action-buttons.edit-details')">
                                    <div>&telrec;</div>
                                </div>
                            </li>
                            <li class="list-inline-item" @click="removeRecord(record)">
                                <div class="action-button" v-tooltip:top="__('custom.list.action-buttons.delete')">
                                    <div>x</div>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div v-else class="alert alert-warning">{{ noEntityAlertMessage }}</div>
        <div class="text-center col-12">
            <big-button :btnText="addButtonText" @bigclick="handleClick($event, newEntityWhereTo)"></big-button>
        </div>
        <confirmation-modal
            v-if="confirmModal"
            :modal-body="__('custom.confirm.record.remove')"
            @confirmed="removeConfirmed()"
            @declined="removeCanceled()"
        ></confirmation-modal>
        <simple-message-modal
            v-if="showInfo"
            :show-me="showInfo"
            :success-msg="successMsg"
            :errMsg="errMsg">
        </simple-message-modal>
    </div>
</template>

<script>
import BigButton from "../BigButton";
import ConfirmationModal from "./ConfirmationModal";
import axios from "axios";
import FilterBar from "../FilterBar";
import SimpleMessageModal from "./SimpleMessageModal";

export default {
    name: "ListRecords",
    components: {
        'big-button': BigButton,
        'confirmation-modal': ConfirmationModal,
        'filter-bar': FilterBar,
        'simple-message-modal': SimpleMessageModal
    },
    props: {
        'noEntityAlertMessage': String,
        'newEntityWhereTo': {
            String,
            required: true
        },
        'entityLabel': String,
        'listColumns': {
            Array,
            required: true
        },
        'addButtonText': String,
        'additionalActions': {
            Array,
            default: []
        },
        translations: {
            default: {}
        }
    },
    data: function() {
        return {
            list: [],
            fetchUrl: this.createFetchUrl(),
            confirmModal: false,
            recordId: null,
            filteredData: [],
            filterValue: '',
            showInfo: false,
            successMsg: false,
            errMsg: false,
        }
    },
    methods: {
        fetchRecords: function() {
            axios.get(this.fetchUrl).then(response => {
                this.list = response.data
            })
        },

        currentData: function() {
            return this.filterValue.length > 0 ? this.filteredData : this.list
        },

        removeRecord: function(record) {
            this.confirmModal = true;
            this.recordId = record.id;
        },

        updateRecord: function(record) {
            window.location.href = this.fetchUrl.replace('list', 'update/' + record.id)
        },

        createFetchUrl: function() {
            let url = window.location.pathname.split('/');
            url.pop();
            url.push(this.newEntityWhereTo);
            url.push('list');
            return url.join('/');
        },

        handleClick: function(event, whereTo) {
            window.location.href = '/management/' + whereTo + '/' + event.action
        },

        removeConfirmed: function() {
            axios.delete('/management/book/delete/' + this.recordId).then(response => {
                console.log(response);
            }).catch(err => {
                console.log(err)
            }).finally(() => {
                this.list = this.list.filter((r) => {
                    return r.id !== this.recordId;
                })
                this.recordId = null;
                this.confirmModal = false;
            })
        },

        removeCanceled: function() {
            this.recordId = null;
            this.confirmModal = false;
        },

        filter: function(event) {
            this.filteredData = event.data;
            this.filterValue = event.filter
        },

        returnBook: function(book) {
            this.show = true;
            this.errMsg = false
            this.successMsg = false;
            axios.post('/management/book/return/' + book.id).then(response => {
                this.successMsg = response.data.message;
                book.available_quantity ++;
                if (book.available_quantity > 0) {
                    book.status = true;
                }
            }).catch(err => {
                this.errMsg = err.response.data.message;
            }).finally(() => {
                console.log(this.errMsg);
                this.showInfo = true;
                this.show = false
            });
        },

        borrow: function(book) {
            this.show = true;
            this.errMsg = false
            this.successMsg = false;
            axios.post('/management/book/borrow/' + book.id).then(response => {
                this.successMsg = response.data.message
                this.showInfo = true;
                book.available_quantity --;
                if (book.available_quantity === 0) {
                    book.status = false;
                }
            }).catch(err => {
                this.successMsg = false;
                this.errMsg = err.response.data.message;
                this.showInfo = true;
            }).finally(() => {
                this.show = false;
            })
        },

        translateValue: function(value, column) {
            if (column in this.translations) {
                return this.__(this.translations[column][value.toString()]);
            }
            return value
        }
    },
    mounted() {
        this.fetchRecords()
    }
}
</script>

<style scoped>

</style>
