<template>
    <div>
        <div role="dialog" class="modal modal-active" :id="id" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content spinner-wrapper">
                    <div class="spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show"></div>
    </div>
</template>

<script>
export default {
    name: "LoadingModal",
    props: ['id'],
}
</script>

<style scoped>

</style>
