<template>
    <div class="no-books">
        <no-result :message="__('custom.no-result')" v-if="!currentData.length"></no-result>
        <div v-else class="col-12">
            <book-overview v-bind:books="books" @removeBook="removeBook($event)"></book-overview>
        </div>
        <div class="row big-button-container">
            <div class="text-center col-12">
                <big-button btnText="Kniha" @bigclick="handleClick($event, 'book')"></big-button>
                <big-button btnText="Autor" @bigclick="handleClick($event, 'author')"></big-button>
            </div>
        </div>
    </div>
</template>

<script>
    import NoResult from "../NoResult";
    import BigButton from "../BigButton";
    import BookOverview from "./BookOverview";

    export default {
        props: [
            'count', 'books'
        ],
        data: function(){
            return {
                currentData: this.books
            }
        },
        components: {
            'book-overview': BookOverview,
            'no-result': NoResult,
            'big-button': BigButton
        },
        methods: {
            handleClick: function(event, whereTo) {
                window.location.href = '/management/' + whereTo + '/' + event.action
            },

            removeBook: function(event) {
                this.books = this.books.filter((b) => {
                    return b.id !== event.id;
                })
            },
        }
    }
</script>
