<template>
    <div class="page-logo-header container-fluid">
        <div class="row">
            <div class="col-3"><div class="h1 logo"><strong>Bookrent</strong></div></div>
            <div class="col-2"><div class="subheader">{{__('custom.management.header')}}</div></div>
        </div>
    </div>
</template>
<script>
export default {

}
</script>
