<template>
    <div v-if="showMe">
        <div role="dialog" class="modal modal-active" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div v-if="successMsg" class="alert alert-success">{{ successMsg }}</div>
                        <div v-if="errMsg" class="alert alert-danger">{{ errMsg }}</div>
                        <button type="button" class="btn btn-primary" @click="acknowledged()">{{ __('custom.confirm.ok') }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show"></div>
    </div>
</template>

<script>
export default {
    name: "SimpleMessageModal",
    props: [
        'successMsg', 'errMsg', 'showMe'
    ],
    methods: {
        acknowledged: function() {
            this.showMe = false
        }
    }
}
</script>

<style scoped>

</style>
